.cart {
    display:grid;
    column-gap: 20px;
    grid-template-columns: 70% 30%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
}

.items-container {
    display: grid;
    grid-template-rows: 100%;
    height: 60px;
}

.order-summary {
    background-color: transparent;
    position: fixed;
    width: 250px;
    top:160px;
    right:200px;
}

.items-title {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.items-title-right-section {
    display: flex;
    justify-content: space-between;
}

.products {
    display: flex;
    flex-direction:column;
    gap:20px;
}

.product {
    display:grid;
    position: relative;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding:20px;
    border-radius: 10px;
}

.products-left-section {
    display: flex;
    gap:40px;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.product-thumbnail {
    width: 80px;
    height: 100px;
    object-fit: cover;
}

.products-right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.order-summary {
    display: grid;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    margin-top: 60px;
}

.cart-totals {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plus-button,
.minus-button {
    border-width:1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 20px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}

.plus-button:hover {
    background-color: green;
}

.minus-button:hover {
    background-color: red;
}

.cancel-button {
    background-color: transparent;
    border:none;
    font-size: 20px;
    color:rgb(62, 62, 62)
}

.title-names {
    font-weight: bold;
}

.official-price {
    color:green;
    margin-left: 10px;
    font-size: 17px;
}

.checkout {
    border-radius: 5px;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    background-color: white;
    font-style: Arial;
    transition: background-color 0.5s ease-in-out,color 0.5s ease-in-out;
}

.checkout:hover {
    background-color: black;
    color:white
}
