header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    background-color: black;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:200px;
    height: 60px;
    padding-left: 100px;
    padding-right: 20px;
    flex-shrink: 0;
}

.title {
    font-family: "Anton", sans-serif;
    color:white;
    font-size: 26px;
    vertical-align: top;
}

.menu-icon-button {
    background-color: transparent;
    border: none;
    display: none;
    padding: 0;
}

.menu-icon {
    display: none;
    width:30px;
    height: 30px;
    object-fit: cover;
}

/*
    Ending left Section 
*/

.middle-section {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 40px;
}

.search-bar {
    flex:1;
    border:none;
    background-color: white;
    color:black;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
    font-size: 16px;
    font-family: "Thasadith", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 1px white;
    width:0;
}

.search-button {
    background-color: white;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;
    margin-left: -2px;
    box-shadow: 2px 2px 1px white;
}

.search-icon {
    width:15px;
    height:15px;
    object-fit: cover;
}

/*
    Ending middle Section
*/

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:150px;
    padding-right: 100px;
    height: 60px;
    flex-shrink: 0;
}

.right-section-buttons,
.white-right-section-buttons {
    background-color: transparent;
    border: none;
}

.white-right-section-buttons {
    display: none;
}

.user-icon,
.heart-icon,
.cart-icon,
.white-search-icon
 {
    width:25px;
    height:25px;
    object-fit: cover;
}

.white-search-icon {
    display:none;
}

/*
    Ending right section
*/

.side-bar {
    display: none;
}

@media (max-width:750px) {
    .middle-section {
        display: none;
    }

    .menu-icon,
    .menu-icon-button {
        display:block;
    }

    .left-section {
        padding-left: 20px;
        width:150px;
    }

    .right-section {
        padding-right: 20px;
        width:200px;
    }

    .white-right-section-buttons {
        display: block;
    }

    .white-search-icon {
        display: block;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 0;
        left:0;
        top:0;
        bottom:0;
        background-color: black;
        padding-top: 50px;
        overflow: hidden;
        z-index: 2;
        transition: width 0.5s ease;
    }
    .side-bar.open {
        width: 50%;
    }
    .side-bar .link {
        margin-bottom: 30px;
    }
    
    .cancel-button {
        position: absolute;
        top:0;
        right:-5px;
        background-color: white;
        padding: 5px 10px 5px 10px;
        color:black;
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
    }
    
}
#log-out{
    background-color: black;
    border: none;
    color: red;
    cursor: pointer;
}
  