.display-items {
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    column-gap: 20px;
    row-gap: 22px;
    justify-content: center;
    padding-top:60px;
}

.item-container {
    width: 100%;
}

.thumbnail-container {
    position: relative;
}

.thumbnail {
    width:100%;
    height: 450px;
    object-fit: cover;
}

.like-icon {
    width:20px;
    height: 20px;
    object-fit: cover;
}

.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.type,
.item-name {
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    color:rgb(17, 16, 16);
    padding-left: 10px;
    margin:0;
}

.price {
    margin-top: 5px;    
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-family: Arial;
}

.add-to-cart {
    color:white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border:none;
    transition: background-color 1s;
}

.add-to-cart:hover {
    background-color: rgb(15, 15, 15);
}

.cart-side-bar-item {
    display: grid;
    grid-template-columns: 25% 75%;
    width: 90%;
    height: 120px;
    margin-left: 5%;
}

.cart-side-bar-items {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.cart-side-bar-item-image {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.cart-side-bar-item-inner {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.inner-container {
    display:grid;
    grid-template-rows: 50% 50%;
}

.bottom-inner-container {
    display:flex;
    align-items: center;
    height: 100%;
}

.cart-sidebar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;
    width: 100%;
    background-color:grey;
    z-index: 2;
}