.display-items {
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    column-gap: 30px;
    row-gap: 20px;
    margin-top:125px;
    background-color: rgb(236, 236, 236);
}

.item-container {
    width: 100%;
    background-color:rgb(236, 236, 236);
    transition: background-color 1s ease, box-shadow 1s ease;
    border: 1px black solid;
}

.item-container:hover {
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

/*.edit-item-container {
    width: 50%;
    margin-left: 25%;
    margin-right:50%;
}*/

.detail-container{
    height: 30%;
}

.thumbnail-container {
    width:300px;
    height: 70%;
    background-color: #cccaca;
    position: relative;
    overflow: hidden;
}

.thumbnail {
    width:300px;
    height:400px;
    object-fit: cover;
}

.like-icon {
    width:20px;
    height: 20px;
    object-fit: cover;
}

.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 40px;
    width: 40px;
    border:none;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.like-button:hover{
    border: 1px solid red;
}

.type,
.item-name {
    font-size: 20px;
    font-family: "Cormorant Garamond", serif;
    color:rgb(17, 16, 16);
    padding-left: 10px;
    margin:0;
}

.item-name {
    font-weight: bold;
}

.price {
    margin-top: 5px;    
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-family: Arial;
}

.add-to-cart {
    color:white;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    border:none;
    transition: box-shadow 0.5s ease-in-out;
}

.add-to-cart:hover {
    box-shadow: 0px 0px 10px red;
    background-color: rgb(15, 15, 15);
    cursor: pointer;
}
