.wish-list {
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    width:0;
    background-color: rgb(22, 16, 97);
    overflow: hidden;
    overflow-y: auto;
    transition: width 0.5s ease-in-out,opacity 0.5s ease-in-out;
    z-index: 2;
}


.wishlist-open {
    width:300px;
    opacity: 1;  
}

.cancel-wishlist-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: -4px;
    left:-5px;
    width: 40px;
    height:40px;
    font-size: 20px;
    border-radius: 40%;
    background-color: black;
    color:white;
}


.itemlist{
    display: inline;
    }
    
    
    .wislist-display-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .wislist-item-container {
        width: 80%;
        transition: background-color 1s ease, box-shadow 1s ease;
        height: 300px;
        border-radius: 20px;
        background-color: rgb(204, 247, 15);;
        border: 1px solid rgb(204, 247, 15);
        margin-top: 20px;
    }
    
    .wislist-item-container:hover {
        background-color: white;
        box-shadow: 0px 0px 10px black;
        
    }
    
    .wislist-detail-container{
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius:20px;
    }
    .wislist-details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    
    .wislist-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .wislist-thumbnail-container {
        width:100%;
        height: 70%;
        background-color: white;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
    }
    
    .wislist-thumbnail {
        width:100%;
        height:100%;
        object-fit: contain;
    }
    
    .wislist-like-icon {
        width:20px;
        height: 20px;
        object-fit: cover;
    }
    
    .wislist-like-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 40px;
        width: 40px;
        border:none;
        border-radius: 50%;
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 1;
        cursor: pointer;
    }
    
    .wislist-like-button:hover{
        border: 1px solid red;
    }
    
    .wislist-type,
    .wislist-item-name {
        font-size: 20px;
        font-family: "Cormorant Garamond", serif;
        color:rgb(17, 16, 16);
        padding-left: 10px;
        margin:0;
    }
    
    .wislist-item-name {
        font-weight: bold;
    }
    
    .wislist-price {
        margin-top: 5px;    
        padding-left: 10px;
        font-size: 18px;
        color: black;
        font-family: Arial;
    }
    
    .add-to-cart,.edit {
        color:white;
        font-weight: bold;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: black;
        border-radius: 5px;
        margin-bottom: 0px;
        margin-left: 10px;
        border:none;
        transition: box-shadow 0.5s ease-in-out;
        cursor: pointer;
    }
    
    .add-to-cart:hover,.edit:hover {
        box-shadow: 0px 0px 10px red;
        background-color: rgb(15, 15, 15);
        cursor: pointer;
    }
    